<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="da">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <title>{{ if .IsHome }}Polles Hjørne{{ else }}{{ .Title }} - Polles Hjørne{{ end }}</title>
  <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | absURL }}" />
</head>
<body>

  <div id="topbar">
    <marquee behavior="scroll" direction="left" scrollamount="2" style="width:75%">
      &nbsp; SENESTE: Nvidia tjener mere end Danmarks BNP på et kvartal &nbsp;&#9658;&nbsp;
      Bankdirektør får 14 millioner for at blive fyret &nbsp;&#9658;&nbsp;
      AI er stadigvæk ikke et rigtigt ord i Den Danske Ordbog &nbsp;&#9658;&nbsp;
      Polle er stadig utilfreds &nbsp;
    </marquee>
    <span>{{ now.Format "Monday 2. January 2006" }}</span>
  </div>

  <div id="header">
    <div class="logo">
      <h1>Polles Hjørne</h1>
      <div class="edition">&#128062; Dagens kommentar til verdens galskab &nbsp;&mdash;&nbsp; Gratis og ærlig siden 2026</div>
    </div>
    <div class="datebox">
      <div>{{ now.Format "02-01-2006" }}</div>
      <div>Udgave nr. 1</div>
    </div>
  </div>

  <div id="nav">
    <ul>
      <li><a href="{{ "/" | absURL }}">Forside</a></li>
      <li><a href="{{ "/posts/" | absURL }}">Alle indl&aelig;g</a></li>
      <li><a href="{{ "/about/" | absURL }}">Om Polle</a></li>
    </ul>
  </div>

  <div class="breaking">
    <span class="label">POLLE MENER</span>
    <span>Daglige holdninger til det Ekstra Bladet finder p&aring; at skrive &mdash; fra en der har l&aelig;st avisen siden den kostede 2 kr.</span>
  </div>

  {{ block "main" . }}{{ end }}

  <div id="footer">
    <p>Bess&oslash;gstæller: <span class="counter">0001337</span></p>
    <p>&copy; Polle {{ now.Format "2006" }} &nbsp;|&nbsp; Alle holdninger er mine egne &nbsp;|&nbsp; Sidst opdateret: {{ now.Format "02-01-2006" }}</p>
    <p>Bedst vist i Internet Explorer 6.0 &nbsp;|&nbsp; Opløsning: 800x600</p>
  </div>

</body>
</html>
